@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient( rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url('images/hero page/7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}
header{
    color:rgb(184, 179, 179);
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
#iconbar{
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
}
#iconbar:hover{
    color: teal;
}
.logo{
margin-left: 60px;
margin-top: 50px;

}
.logo img{
    height: 7vh;
}
.logo h3{
    color:rgb(18, 241, 241);
    font-size: 25px;
    margin-top: -35px;

    margin-left: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 0px 20px;
    color: rgb(227, 238, 227);
}
.nav ul li a:hover{
    color: teal;
    font-weight: bolder;
}
.user{
    cursor:pointer;
    color:teal;
    margin-top: 40px;
    margin-right: 40px;
}
.user a{
    padding: 10px 30px;
    color: white;
    background-color: teal;
    text-decoration: none;
    border-radius: 10px;
}
.user a:hover{
    background-color: black;
    color: #008080;
}
.user i{
    font-size: 20px;
    margin-right: 10px;
}
.user h4{
    border-radius: 40px;
    background: teal;
    padding: 10px 20px;
    margin-top: 40px;
    margin-right: 40px;
}
.user i{
    padding: 0px 14px;
}
.user h4:hover{
    color:teal;
    background: black;
}


*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
/*--about--*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 45%;
}
.about-col1 img{
    width: 95%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 55%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0111ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
    color: #4952d6;
    font-size: 14px;
}
.tab-contents {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
.tab-contents.active-tab{
    display: block;
}